<strong> Hello, {{ order }}</strong>
<p> A product has been cancelled, check the details below: </p>
<p>
  <strong>Recipient: </strong> {{ recipient }} <br />
  <strong>Product: </strong> {{ product }} <br />
</p>