<strong> Hello, {{ delivery }}</strong>
<p> A new product has been ordered, check the details below: </p>
<p>
  <strong>Recipient: </strong> {{ recipient }} <br />
  <strong>Product: </strong> {{ product }} <br />
  <br />
  <small>
    The product is now available for delivery.
  </small>
</p>